<div class='alert dash_board'>User Project Dashboard</div>
<table class='table table-bordered table-responsive'>
  <thead>
    <tr>
      <th><%= label_tag :user_name, 'User Name'%></th>
      <th><%= label_tag :user_project, 'User Projects'%></th>
      <th><%= label_tag :project_description, 'Project Description'%></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% if user.project.present? %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <% user.project.each do |proj|  %>
            <%= proj.name %>
          <% end %>
        </td>
        <td><%= user.project_description %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<div class='clear_with_height'></div>
<%= link_to 'Assign Project', new_user_path, class: 'btn btn-primary' %>